
@{
    ViewBag.Title = "NewthisWeek";
    //Layout = "~/Views/Shared/_SilverBrightGallery.cshtml";
}

<h2>NewthisWeek</h2>

<div class="modal-body" id="myModal" role="dialog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myModal").modal();
    });
</script>

